.search{
    display: flex;
    position: relative;
}

.spe{
    background-color: white;
    padding: 8px;
    border-radius: 10px;
    font-weight: 100;
    font-size: 1em;
    font-weight: 800;
    color: black;
}

.textInput input{
    width: 34rem;
    height: 2.5rem;
    background-color: rgb(18,18,18);
    border-radius: 1.4em;
    margin-left: 10em;
    position: absolute;
    border: 1px solid rgb(87, 86, 85);
    font-size: large;
}

.search .img1{
    background-color: rgb(34,34,34);
    border: 1px solid rgb(87, 86, 85);
    height: 2.5em;
    margin-left: 1.2px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    left: 42.6em;
}

.search .img2{
    background-color: rgb(39,39,39);
    border:1px solid  rgb(87, 86, 85);
    width: 26px;
    height: 26px;
    margin-left: 47.5em;
    border-radius: 1.5em;
    padding: 7px;
}

nav{
    display: flex;
    margin: 12px;
    position: relative;
    height: 3rem;
    width: 97%;
    margin-left: 20px;
}

.navIcone{
    position: absolute;
    right: 0%;
}

.navIcone img{
    margin-left: 30px;
}

.tags{
    display: flex;
    gap: 30px;
    margin-left: 30px;
    padding-bottom: 8px;
}

.tag{
    background-color: rgb(39,39,39);
    padding: 8px;
    border-radius: 10px;
    font-weight: 100;
    font-size: 1em;
    font-weight: 800;
    color: rgb(223, 222, 222);
}
