#sidebar{
    grid-row: 1/span 2;
    width: 240px;
    height: 100vh;
    background-color: rgb(15,15,15);
}

.bars{
    width:12%;
    height: 26%;
}

.youtubeLogo{
    width: 40%;
    height: 20%;
}

.logo img{
    margin: 10px 10px 10px ;
}

.icones{
    display: flex;
    gap: 20px;
    margin: 12px;
    margin-top: 17px;
    align-items: center;
}

.special-style{
    background-color: rgb(66, 66, 66);
    padding: 5px;
    border-radius: 9px;
}

.line{
    border-bottom: 1px solid rgb(112, 111, 110);
    font-size: 1vw;
}

h3{
    margin: 10px;
}